.divPai
{
  width: 300px;
  height: 300px;
  border: 5px solid;
  color: black;
  position: absolute;
  top: 50%; left: 50%;transform: translate(-50%, -50%);
}


.TopoEsquerda
{
  position: absolute;
  top: 0px;
  right: 0px; 
  border: 5px solid purple;
  background-color: rgba(95, 6, 179, 0.267);
  left: 0px; 
}


.TopoDireita
{
  position: absolute;
  top: 0px;
  right: 0px;
  border: 5px solid rgb(223, 120, 4);
  background-color: #fcf8038f;
}


.BaseEsquerda
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 5px solid rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.308);

}


.BaseDireita
{
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 5px solid blue;
  background-color: rgba(107, 152, 248, 0.5);
}

.barra-verticalcima
{
  background-color:rgb(124, 6, 179);
}

.barra-verticalbaixo
{
  background-color: rgb(228, 253, 0);
}

.barra-horizontalesquerda
{
  background-color: rgb(255, 0, 0);
}

.barra-horizontaldireita
{
  background-color: #0400ff ;
}