.divPai {
  width: 300px;
  height: 300px;
  border: 1px solid;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px black;
}
 
 
.TopoEsquerda {
  top: 0px;
  left: 0px;
  background-color: rgba(95, 6, 179, 0.267);
}
 
.TopoDireita {
  top: 0px;
  right: 0px;
  background-color: #3b8eed85;
}
 
.BaseEsquerda {
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 0, 0, 0.308);
 
}
 
.BaseDireita {
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 255, 42, 0.315);
}
